extends ../layout

block content
    h1.mb-4 #{title}
    form(method='post', action=url)
        .form-group
            label(for='name') Name
            input#name.form-control(type='text', name='name', value=user.name)
        .form-group
            label(for='email') Email
            input#email.form-control(type='text', name='email', value=user.email)
        input.btn.btn-primary(type='submit', value='Save')